{% extends 'base.html' %}
{% block content %}
<h3 class="header text-primary">{{discipline}} Discipline</h3>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h5 class='header'>Search Alumni in {{discipline}} Discipline</h5>
        <p class='fw-bold text-success mb-1'>Total Alumni In {{discipline}}: {{total_alumni}}</p>
        <form class='mb-4' action="{% url 'home:search_result_discipline' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="sel1">Select Batch(select one):</label>
                    <select class="form-select" id="sel1" name="batch">
                        {% for batch in batches %}
                        <option value="{{batch}}">{{batch}}</option>
                        {% endfor %}
                    </select>
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-success btn-sm">Search</button>
                    </div>
                
            </div>
        </form>
        <h5 class='header'>Charity Events in {{discipline}} Discipline</h5>
        {% if  events %}
        <div class="row">
            {% for event in events %}
                <div class="col-sm-6 mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h6>{{event.headline}}</h6>
                            <p>{{event.description| slice:40}}...</p>
                            <p>Target Amount: <span class="text-info fw-bold">{{event.target_amount}} Taka</span> </p>
                            <p>Present Amount: <span class="text-success fw-bold">{{event.present_amount}} Taka</span></p>
                            {% if event.running %}
                            <a href={% url 'charity_events:detail_view' event.id %}><button class='btn btn-primary btn-sm'><i class='fa fa-money'></i> Contritubte</button></a>
                            <button class='btn btn-success btn-sm'><i class='fa fa-clock-o'></i> Running</button>
                            {% else %}
                            <a href={% url 'charity_events:detail_view' event.id %}><button class='btn btn-primary btn-sm'><i class='fa fa-money'></i> Details</button></a>
                            <button class='btn btn-danger btn-sm'><i class='fa fa-lock'></i> Closed</button>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        {% else %}
        <h5 class="header text-danger">Sorry! There are no charity events in {{discipline}} discipline</h5>
        {% endif %}
    </div>
</div>
{% endblock content %}
