{% extends 'base.html' %}
{% block content %}
<h3 class="header text-success">{{event.headline}}</h3>
<h5>Description: </h5><p>{{event.description}}</p>
{% if event.running %}
<button class='btn btn-success btn-sm mb-3'><i class='fa fa-clock-o'></i> Running Event</button>
{% else %}
<button class='btn btn-danger btn-sm mb-3'><i class='fa fa-lock'></i> Closed Event</button>
{% endif %}
<h5>Event Created On:<span class="text-muted"> {{event.created_on.date}}</span></h5>
<h5>Target Amount:<span class="text-primary"> {{event.target_amount}} Taka</span></h5>
<h5>Present Amount:<span class="text-success"> {{event.present_amount}} Taka</span></h5>

{% if event.running %}
<div class="row">
    <div class="col-sm-4">
        <form action="{% url 'charity_events:add_money' event.id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input name="amount" type="text" class="form-control" placeholder="Enter Amount" aria-describedby="button-addon2" required>
                <button class="btn btn-success" type="submit" id="button-addon2">Send Money</button>
              </div>      
        </form>
    </div>
</div>
<p class='text-danger'><i class='fa fa-exclamation-triangle'></i> It uses a payment gateway(SSLCommerz Sandbox) for testing purpose. So you can contribute money with dummy information.</p>
{% endif %}

<h3 class="header text-primary">Contributers</h3>
<div class='table-responsive'>
    <table class="table table-primary table-bordered">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Discipline</th>
                <th>Batch</th>
                <th>Id</th>
                <th>Amount</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for contributer in  event.contributer_set.all|dictsortreversed:"created_on" %}
            <tr>
                <td>{{contributer.alumni.full_name}}</td>
                <td>{{contributer.alumni.discipline}}</td>
                <td>{{contributer.alumni.batch}}</td>
                <td>{{contributer.alumni.student_id}}</td>
                <td>{{contributer.amount}}</td>
                <td>{{contributer.created_on}}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
{% endblock content %}