{% extends 'base.html' %}
{% block content %}
<h3 class="header text-primary">Blog Section</h3>
<div class="d-flex justify-content-center pb-3">
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapsePost" role="button" aria-expanded="false" aria-controls="collapsePost">
        Write a Post
      </a>
</div>
<div class="collapse" id="collapsePost">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form action={% url 'blog:create_post' request.user.id %} method="POST">
                {% csrf_token %} 
                {{form.media}} {{form}}
                <input type="submit" value="Publish" class="btn btn-primary btn-sm my-1" />
                </form>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6">
        {% for post in  posts %}
        <h6 class='text-primary mt-3'>{{post.author}} <sub class='text-muted'>{{post.created_on}} </sub></h6>
        <div class="ps-4">
            {{post.body|truncatechars_html:10|safe}}
        </div>
        <button class='btn btn-success btn-sm'>Read More</button>
        <button type='button' class='btn btn-dark btn-sm'>{{post.tag}}</button>
        {% endfor %}
    </div>
</div>

{% endblock content %}
